<%-include ('parts/top.ejs')%>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <img src="/uploads/<%= book.image%>" style="height: 350px;" alt="">
            </div>
            <div class="col">

                <h1>
                    <%= book.title%>
                </h1>
                <span>$<%= book.price%></span>
                <p>
                    <%= book.description%>
            </div>
        </div>
    </div>





    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <%-include ('parts/bottom.ejs')%>