<%- include('parts/top.ejs')%>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">image</th>
                    <th scope="col">title</th>
                    <th scope="col">author</th>
                    <th scope="col">price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <%for (book of books) {%>
                    <tr>
                        <th scope="row">
                            <img style="height:50px;width: 50px;" src="/uploads/<%=book.image%>">
                        </th>
                        <th scope="row">
                            <%=book.title%>
                        </th>
                        <td>
                            <%=book.author%>
                        </td>
                        <td>
                            <%=book.price%>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/mybooks/delete/<%=book._id%>">delete</a>
                            <a class="btn btn-primary" href="/mybooks/update/<%=book._id%>">update</a>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>






    <%- include('parts/bottom.ejs')%>